@font-face {
  font-family: urwbookman;
  src: url(assets/urw-bookman-l.woff);
}

[class*="col-"] {
  width: 100%;
  float: left;
  padding: 0;
}

@media only screen and (min-width: 1100px) {
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2vh;
  padding: 1.5vh 7.5vw 2vh 7.5vw;
}

.color-digin {
  color: #846effff;
}

.wider-spacing {
  line-height: 150%;
}

.slightly-wider-spacing {
  line-height: 125%;
}

.fancy-font {
  font-family: urwbookman;
}

.small-font {
  font-size: 50%;
}

.smallish-font {
  font-size: 90%;
}

.large-font {
  font-size: 150%;
}

.bold-font {
  font-weight: bold;
}

.light-color {
  color: gray;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.logo {
  max-width: 75%;
  height: auto;
}

@media only screen and (min-width: 1100px) {
  .logo {
    max-width: 33%;
    padding-bottom: 10vh;
  }
}

.summary {
  margin-bottom: 3vh;
}

.sub-form {
  display: none;
  margin-top: 2vh;
  gap: 1.5vh;
}

input {
  width: 50%;
  display: block;
  font-size: 1.5vh;
  border: 0;
  outline: 0;
  padding: 1.5vh 2vh;
  margin-bottom: 0.75vh;
  border-radius: 5px;
  border: 1px solid #8f94a1;
}

.sub-btn {
  display: block;
  width: fit-content;
  font-size: 1.5vh;
  border: none;
  outline: none;
  background: transparent;
  background-color: #846effff;
  padding: 1.5vh 2vh;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.25s;
}

.sub-btn:hover {
  background-color: #586eccff;
}

.main-img {
  padding: 7.5vh 0 3vh 0;
  max-width: 60%;
  height: auto;
}

@media only screen and (min-width: 1100px) {
  .main-img {
    padding: 0;
  }
}

.prop {
  display: block;
  padding: 2vh 10% 2vh 10%;
  background-color: lightcyan;
  border-radius: 25px;
  border: 2vh solid rgba(255, 255, 255, 1);
}

@media only screen and (min-width: 1100px) {
  .prop {
    padding: 2vh 2vw 2vh 2vw;
  }
}

.props {
  padding-bottom: 3vh;
}

@media only screen and (min-width: 1100px) {
  .props {
    display: flex;
    padding-top: 5vh;
    padding-bottom: 10vh;
  }
}

.prop-img {
  max-height: 10vh;
  opacity: 0.6;
}

.content-platform {
  max-width: 40%;
  height: auto;
}

@media only screen and (min-width: 1100px) {
  .content-platform {
    max-width: 50%;
    padding: 2vh 0 2vh 0;
  }
}
